    <div class="dialog">
      <div class="dialog-container">
        <div class="dialog-titlebar">
          <span class="dialog-title"></span>
          <span class="dialog-close"><input type="button" value="X" /></span>
        </div>
        <div class="dialog-content"></div>
      </div>
    </div>
  </body>
</html>