<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title><%= pageTitle %></title>
		<script type="text/javascript" src="/external/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/external/jquery-ui.min.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer type="text/javascript" src="/functions.js"></script>
		<link rel="icon" type="image/png" href="/favicon.png" />
    <link href="/external/jquery-ui.css" rel="stylesheet" type="text/css" />
		<link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>